* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color: #79133f;
    color:black;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: #dfe9ee;
    color: #79133f;
    display: inline;
    padding: 10px;
    margin: 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 300px;
    margin-right: 30px;
}

nav a {
    color: #dfe9ee;
}

.hero-image {
    height: 200px;
    width: 100%;
    background-image: url(../assets/images/lilypads.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    background-color: #79133f;
    color:#dfe9ee;
    padding: 10px;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 40%;
}

#about-me {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

#about-me-text {
    width: 50%;
    margin: 0 40px 40px 40px;
    align-items: flex-start;
}

#work {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    /*height: 500px;*/
}

#work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
    width: 100%;
}

.card {
    border: 1px dotted black;
    margin: 10px;
}

#project-1 {
    height: 200px;
    flex-grow: 1;
    min-width: 50%;
}

#project-2, #project-3, #project-4, #project-5 {
    height: 100px;
    min-width: 48%;
}

#contact-me {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

#contact-me ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 50%;
    margin: 40px;
}

h2 {
    font-size: 200%;
    text-align: right;
    width: 200px;
    border-right: 3px solid #79133f;
}

/* Tablet */
@media screen and (max-width: 992px) {
    header {
      background-color: #172f00;
    }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    header {
      background-color: #79133f;
      flex-direction: column;
      align-items: center;
    }

    nav ul {
        flex-direction: column;
    }

    #about-me,
    #work,
    #work-cards,
    #contact-me {
        flex-direction: column;
    }
  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    header {
      background-color: #172f00;
    }
}