* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color: #79133f;
    color:black;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: #dfe9ee;
    color: #79133f;
    display: inline;
    padding: 10px;
    margin: 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 300px;
    margin-right: 30px;
}

nav a {
    color: #dfe9ee;
}

.hero-image {
    height: 200px;
    width: 100%;
    background-image: url(../assets/images/lilypads.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    background-color: #79133f;
    color:#dfe9ee;
    padding: 10px;
    width: fit-content;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    top: 40%;
}

#about-me {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

#about-me-text {
    flex-basis: 80%;
    margin: 0 40px 40px 40px;
    /* align-items: flex-start; */
}

#work {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    /*height: 500px;*/
}

#work-cards {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
}

.card {
    border: 1px dotted black;
    margin: 5px;
}

#project-1 {
    flex-basis: 100%;
    height: 200px;
}

#project-2, #project-3, #project-4, #project-5 {
    flex-basis: 49%;
    height: 100px;
}

#contact-me {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

#contact-me ul {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 40px 40px 40px;
}

#contact-me ul li {
    padding: 10px;
}

h2 {
    flex-basis: 20%;
    font-size: 200%;
    text-align: right;
    width: 200px;
    border-right: 3px solid #79133f;
    padding-right: 10px;
    color: #79133f;
}

  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    header {
      background-color: #79133f;
      flex-direction: column;
      
    }

   h1 {
    width: 100%;
    text-align: center;
   }

   .hero-text {
        text-align: center;
        position:absolute;
        top: 50%;
        left: 40%;
   }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    h2 {
        flex-basis: 100%;
        text-align: center;
        width: 100%;
        border-right: none;
        border-bottom: 3px solid #79133f;
    }

    #about-me,
    #work,
    #work-cards,
    #contact-me,
    #contact-me ul {
        flex-direction: column;
    }

    .card {
        flex-basis: 100%;
    }

    #contact-me ul {
        text-align: center;
    }
  }
  